


html,body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    margin:0px;
    
}

ul{
    list-style: none;
}


.SobreMi-datos img
{
    object-fit:contain;
}



header
{
    text-align: left;
    width: 50%;
    height: 50%;
    padding-left: 50px;
}


.li_nav
{
    
    display: inline;
    padding: 10px;
}

.Div-Nav_UL-li{
    text-align: center;
}

.SobreMi-datos
{
    padding-top:30px;
    text-align: center;
}

.SobreMi-datos_hola
{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    
}

.imagen-datos
{
    width: 300px;
    height: 250px;
    border-radius: 50%;
    object-fit:contain;
}

.Conocimientos
{
    padding-top:35px;
    padding-bottom: 35px;
    background-color: #1256a4;
    flex-wrap: wrap;
}

h2{
    width: 100%;
    height: 50px;
    margin:0px;
    padding-top:15px;
    padding-bottom: 10px;
    text-align: center;
    color:#ffffff;
    background-color:    #1256a4 ;
}

.conocimientos_skill,.MisProyectos-proyectos
{

    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-bottom:30px;
    background-color:#1256a4;
    color:#ffffff;
    text-align: center;
    flex-wrap: wrap;
}

h3
{
    text-align: center;
}

.Conocimientos-So
{

    border-radius: 5%;
    float:left;
    margin:10px;
    padding:20px;
    background-color: #134682;
}

.Conocimientos-So:hover
{
    transform: scale(1.2);
}

.Conocimientos-Lenguajes
{
    border-radius: 5%;
    float:left;
    margin:7px;
    padding-left:50px;
    padding-right: 50px;
    padding-top:20px;
    padding-bottom: 50px;
    background-color: #134682;
}

.Conocimientos-Lenguajes:hover
{
    transform: scale(1.2);
}

.Conocimientos-Tecnicos
{
    border-radius: 5%;
    margin:7px;
    float:left;
    padding:20px;
    background-color: #134682
    
}

.Conocimientos-Tecnicos:hover
{
    transform: scale(1.2);
}



#Proyectos
{
    
    background-color: #000000;
}



.MisProyectos img
{

    padding: 30px;
    width: 250px;
    height: 250px;
}

.MisProyectos img:hover
{
    transform: scale(1.2);
}

.Tp-Winform,.Tp-Cmas,.SqlEjercicios
{
    padding-top: 20px;
}

.Contacto h2
{
    background-color: #000000;
    padding-top: 20px;
}

.MisProyectos label
{
    justify-content: center;
    padding-top:20px;

}



.Contacto
{
    
    padding-bottom: 15px;
    
}

.Contacto-formulario
{   
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding:30px;
    
}
 
input
{
    width: 300px;
    height: 20px;
    margin:7px;
}

textarea{
    
        min-height: 150px;
        width: 300PX;
        margin:7px;
        resize: none;
        
}

#enviar
{
    color: #ffffff;
    background-color: #134682;
    border-bottom:#1256a4;
    height: 30px;
    border-radius: 5px;
}

#enviar:hover
{
    background-color:#1256a4;
    border-top:#134682;
}



a:link
{
    color: #000000;
    text-decoration: none;
}

a:visited
{
    color: #000000;
    text-decoration: none;
}

.Div-footer
{   
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 15px ;
    
    background-color: #000000;
}

.Div-footer a:visited
{
    color:#ffffff;
}

.Div-footer a:link
{
    color:#ffffff;
}

.Div-footer div
{
    border:1px solid #134682;
    border-radius: 5px;
    margin-right: 20px;
   
}

.Div-footer_git
{
    padding: 10px;
}

.Div-footer_git:hover
{
    background-color: #134682;
    text-decoration: none;
    
}

.Div-footer_git a:hover
{
    background-color: #134682;
    color: #ffffff;
}

.Div-footer_wapp
{
    padding:10px;
}

.Div-footer_wapp:hover
{
    background-color: #134682;
}

.Div-footer_wapp a:hover
{
    background-color: #134682;
    color: #ffffff;
}

.Div-footer_linkedin
{
    padding:10px;
}

.Div-footer_linkedin:hover
{
    background-color: #134682;
}

.Div-footer_linkedin a:hover
{
    background-color: #134682;
    color: #ffffff;
}

.li_nav a:hover
{
    color:#134682;
}

.btn-scrolltop
{
 
    position: fixed;
    bottom:20px;
    right: 20px;
    padding:15px 20px;
    color:#ffffff;
    font-size: 16px;
    background-color:#134682;
    border-radius: 100%;
    cursor:pointer;
}



@media screen and (min-win: 700px)
{
    .Contenedor
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cabecera
    {
      
    }

    .MisProyectos img
    {
        
    }
    
    .MisProyectos
    {
        
    }

    .MisProyectos-proyectos
    {
      
        
    }

    .Conocimientos-Lenguajes
    {
        
    }

    .Conocimientos
    {
      
    }
    .conocimientos_skill
    {
      
    }

    footer
    {
       
    }

    .Div-footer
    {
        
    }
}